/* RESET */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* END */
/* BODY */
body {
  font-family: "Roboto Mono", Arial;
  background: #2b2b2b;
}

.absolute {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: auto;
}

/* END */
/* HEADERS */
.nav-head {
  position: fixed;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 10vh;
  margin: auto;
  background-color: #ff5500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 10px #000;
          box-shadow: 0px 0px 10px #000;
}

.teams-count {
  width: 100%;
  height: 20vh;
  background-color: #f05000;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: bold;
}

header .nav-links {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

header .nav-link {
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
}

header .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* END */
/* NAV */
/* END */
/* MENU LIST */
.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

@media (max-width: 576px) {
  .nom {
    display: none;
  }
}

/* END */
/* GIF BG */
.responsive {
  background-image: url(../img/jhin.gif);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: auto 100%;
  position: relative;
  top: 10vh;
  width: 100%;
  height: 90vh;
  z-index: -1;
}

.blur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #000;
  opacity: .9;
  position: absolute;
  top: 10vh;
  width: 100%;
  height: 90vh;
  z-index: 1;
}

.sett {
  position: absolute;
  color: white;
  right: 0;
  margin-right: 3vh;
  top: 1vh;
  cursor: pointer;
}

.sett:hover {
  color: #ff5500;
}

.sett .of {
  overflow: scroll;
}

.btl {
  position: absolute;
  top: 40vh;
  width: 100%;
  height: auto;
  z-index: 2;
  line-height: 1.5;
  text-align: center;
  color: #ff5500;
  font-weight: bold;
}

@media (max-width: 576px) {
  .btl {
    font-size: 250%;
  }
}

@media (max-width: 768px) {
  .btl {
    font-size: 250%;
  }
}

@media (min-width: 768px) {
  .btl {
    font-size: 250%;
  }
}

@media (max-width: 992px) {
  .btl {
    font-size: 250%;
  }
}

@media (min-width: 992px) {
  .btl {
    font-size: 350%;
  }
}

@media (min-width: 1200px) {
  .btl {
    font-size: 550%;
  }
}

@media (max-width: 1200px) {
  .btl {
    font-size: 350%;
  }
}

.btl-p {
  vertical-align: top;
  display: inline-block;
  line-height: 1.0;
  font-size: 2vh;
}

/* END */
/* SECTIONS */
.teams {
  top: 10vh;
  position: relative;
  width: 100%;
  height: 80vh;
}

.contact {
  top: 10vh;
  position: relative;
  width: 100%;
  height: 100vh;
}

/* END */
/* TEAMS */
.team-stats {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.team-stat {
  font-weight: bold;
  color: white;
  font-size: 2vh;
}

.cl {
  display: none;
  cursor: pointer;
}

.close-btn {
  padding: 2vh;
  border: 3px dashed #505050;
}

.teams-brackets {
  width: 100%;
  height: 60vh;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: visible;
}

.flex-container {
  list-style: none;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: flex;
}

.longhand {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
}

.longhand li {
  width: 500px;
  height: 550px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.longhand li .pla {
  width: 90%;
  height: 500px;
  margin: auto;
  text-align: center;
  -webkit-box-shadow: 3px 3px 10px #000;
          box-shadow: 3px 3px 10px #000;
}

.longhand li .emp {
  font-size: 5vh;
  line-height: 500px;
  color: #505050;
  border: 5px dashed #505050;
}

.longhand li .lol {
  background-image: url(../img/lold.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: auto 500px;
  position: relative;
}

.longhand li .lol .players {
  height: 30%;
  color: white;
  font-size: 2vh;
  -webkit-transform: translateY(170%);
          transform: translateY(170%);
}

.longhand li .lol .players a {
  color: white;
  text-decoration: none;
}

.longhand li .lol .players .view-btn {
  background: #000;
  border: 3px dashed #303030;
  padding: 3%;
  -webkit-transition: ease .2s;
  transition: ease .2s;
}

.longhand li .lol .players .view-btn:hover {
  border-radius: 10px;
  border: 3px dashed #ff5500;
}

.teams-viewer {
  z-index: 9;
  width: 100%;
  height: 60vh;
  display: none;
  position: absolute;
  background-color: #2b2b2b;
  overflow-x: hidden;
  overflow-y: visible;
}

.disp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dn {
  display: none;
}

.flex-container-Team {
  position: relative;
  list-style: none;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: flex;
}

.longhand-Team {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
}

.longhand-Team li {
  width: 320px;
  height: 550px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.longhand-Team li .pla-Team {
  width: 90%;
  height: 500px;
  margin: auto;
  text-align: center;
  background: #000;
  -webkit-box-shadow: 3px 3px 10px #000;
          box-shadow: 3px 3px 10px #000;
}

.team-stat-Close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.team-stat-Close {
  font-weight: bold;
  color: white;
  font-size: 2vh;
}

/* END */
/* SCROLL STYLE */
/* Let's get this party started */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ff5500;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #ff5500;
}

/* END */
/* CONTACT */
.tmp-fill {
  width: 100%;
  height: 10vh;
  background-color: #ff5500;
}

.tmp-text {
  color: #ff5500;
  line-height: 10vh;
  margin-left: 3vw;
}

.tmp-text-v {
  color: white;
}

/* END */
/*# sourceMappingURL=main.css.map */