$fullwidth: 100%;
$menuH: 10vh;
$menuBarW: 90%;
$reset: 0;
$auto: auto;
$center: center;
$mainColor: #ff5500;
$mainColorS: #f05000;
$DarkColor: #2b2b2b;
$LightfontColor: white;
$font: 'Roboto Mono', Arial ;
$screen-sm-max: 576px;
$screen-md-max: 768px;
$screen-md-min: 768px;
$screen-lg-max: 992px;
$screen-lg-min: 992px;
$screen-xl-max: 1200px;
$screen-xl-min: 1200px;